<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>レインchannel</title>
</head>
<body>
    {% include 'utils/navbar.html' %}
    <div class="page-content">
        <div class="index-banner">
            <img class="banner" draggable="false" src="/static/imgs/banners/index_banner/chanbanner.gif">
        </div>
        <div class="chan_title_header">
            <h1 class="board-title">レインｃｈａｎ</h1>
        </div>
        <div class="rules_container">
            <div class="rules">
            <div class="rules_header">
                <h1>Global Rules</h1>
            </div>
                <ol start="1">
<li>Не нарушайте законы России и страны, в которой Вы находитесь в данный момент. Детская порнография и ее имитация, в т.ч. и рисованная, наркотики, терроризм, суицид запрещены, даже если они разрешены вашими местными законами.</li>
<li>Pejchan является сайтом для лиц старше 18-ти лет. Посещая его, вы подтверждаете свое совершеннолетие.</li>
<li>Деанонимизация, публикация персональных данных и агрессивное преследование (травля) не приветствуются.</li>
<li>Главное — не количество, а качество. Посты и файлы, не несущие никакой полезной информации, именуются шитпостингом и могут быть удалены, а постеры — забанены.</li>
<li>Вредоносные ссылки и реклама во всех ее проявлениях не приветствуются, включая рекламу с целью обогащения, реферальные ссылки, стримы, донаты и попрошайничество.</li>
<li>Посты в тематических разделах должны соответствовать тематике доски. Не постите шок-контент, порно, фурри, хентай вне /b/ и соответствующих разделов.</li>
<li>Выдавать себя за модератора или распространять информацию от лица администрации/модсостава запрещено</li>
<li>Администрация оставляет за собой право удалять контент и ограничивать доступ к ресурсу без предупреждения.</li>
<li>Вайпы, спам — запрещены.</li>
                </ul>
            </div>
        </div>
        {% include 'utils/footer.html' %}
    </div>
    <script src="/static/js/thumb.js"></script>
    <script src="/static/js/boardstyle.js"></script>
</body>
</html>