{% if posts %}
<div class="last-posts-container">
    <div class="last-posts">
        {% for post in posts %}
        <div class="last-post">
            <div class="last_post_info">
                <a href="/{{ post.get('board') }}/">/{{ post.get('board') }}/</a>
            </div>

            <!-- Оборачиваем изображение в ссылку -->
            <div class="last_post_image">
                <a href="/{{ post.get('board') }}/thread/{{post.get('post_id')}}" style="display: block;"> <!-- Ссылка на тред -->

                 
                 <img draggable="false"
                      class="post_img"
                      src="{{ url_for('static', filename='post_images/' ~ post.imagesthb[0]) }}"
                      alt="Изображение к посту {{ post.get('post_id') }}"> <!-- Убрали href, добавили alt -->

                 
                </a> <!-- Закрываем тег ссылки -->
            </div>

            <div class="last_post_content">
                <a href="/{{ post.get('board') }}/thread/{{post.get('post_id')}}">{{ post.get('post_content')[:250] }}...</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
